@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.context
{
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
}


header img
{
    width: 200px;
}

section
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.animate
{
    height: 200px;
    width: 100%;
    border: solid 2px rgb(255, 255, 255);
    color: white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.features img
{
    filter: invert(18%) sepia(100%) saturate(4279%) hue-rotate(110deg) brightness(98%) contrast(105%);
    height: 20px;
    padding-right: 10px;
}
.visitortype button
{
    margin: 20px;
    padding: 5px;
}
.option
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login button
{
    padding: 5px;
    margin: 5px;
}

.option button
{
    border: white solid;
    color: #1675b8;
    font-size: x-large;
    background: white;
}
.features
{
    font-size: x-large;
    box-shadow: 5px 5px 20px;
    padding: 20px;
    background: white;
    width: 25%;
}